body {font-family:Arial, Helvetica, sans-serif;}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    
    padding: 20px;
    border: 1px solid pink;
    border-radius: 10px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    width: 64px;
}

.weather-temperature strong {
    font-size: 64px;
    font-weight: 100;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -32px;
}

h1 {
    color:pink;
    margin-bottom: 0;
}


ul{
    margin: 0; 
    padding: 0;
}

li {
    list-style: none;
    color: grey;
}

li:first-letter {text-transform: capitalize;}